{% extends 'base.html' %}

{% block title %} Contacts {% endblock title %} 

{% block content %} 
<h1 class="text-center"> Contact List </h1>
    {% for contact in address %}
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            {{contact.first_name}} {{contact.last_name}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{contact.address}}</li>
            <li class="list-group-item">{{contact.phone_number}}</li>
            <li class="list-group-item">{{ contact.date_created.strftime('%A, %B %d at %I:%M%p') }}</li>
        </ul>
    </div>
    {% endfor %}
{% endblock content %}